# virtual env
.venv/

# python cache
__pycache__/

# big data
data/raw/
data/interim/
data/processed/*.csv

# saved models - use Git LFS for large files
# models/

# mac system stuff
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
logs/